.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: rgb(11, 11, 11, 0);
    font-size: 1rem;
    position: fixed;
    top: 0;
    z-index: 5;
    min-height: 50px;
}

.menu .collapsible-btn{
    display: none;
    font-size: 1.5rem;
    background-color: inherit;
    color: #fff;
}

.menu a, .menu a:active, .menu a:visited{
    color: #fff;
    text-decoration: none;
}

.menu .brand{
    font-size: 1.5rem;
    font-variant: all-petite-caps;
    font-family: 'Caveat', cursive;
}

.menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1rem;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    padding: 0.7rem 1rem;
    font-variant: all-petite-caps;
    display: inline-block;
}

.menu ul li:hover{
    background: rgb(70, 67, 67)
}

@media screen and (max-width: 800px){
    .menu .collapsible{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -101%;
        width: 100%;
        background: rgb(22, 22, 22);
        font-size: 1rem;
        transition: right 0.5s;
    }

    .menu .collapsible li a{
        padding: 1rem;
        width: 100%;
    }

    .menu .collapsible-btn{
        display: block;
    }

    .menu .collapsible-btn:hover ~ .collapsible, .menu .collapsible:hover{
        right: 0;
    }
}